* {
	margin: 0;
	border: 0;
	padding: 0;
	outline: 0;
	
	box-sizing: border-box;
	cursor: default;
	
	font-family: "Lato", sans-serif;
	
	z-index: 4;
}

::-moz-selection {
	color: #ffffff;
	background-color: #000000;
}

::selection {
	color: #ffffff;
	background-color: #000000;
}

html, body, .center {
	width: 100%;
	height: 100%;
}

html {
	font-size: 16px;
	
	background-color: #0f0f0f;
}

#block {
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 0;
	
	animation: fadein .5s;
	opacity: 0;
	
	z-index: 3;
}

@keyframes fadein {
	from {
		height: 100%;
		
		opacity: 1;
	
		background-color: black;
	}
	
	to {
		height: 100%;
		
		opacity: 0;
		
		background-color: black;
	}
}

#block.fadeout {
	height: 100%;
	
	transition: opacity .5s;
	opacity: 1;
	
	background-color: white;
}

#background {
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	
	background: url("background.jpeg") no-repeat center center fixed;
	background-size: cover;
	
	filter: blur(4px);
	
	z-index: 1;
}

#window {
	position: fixed;
	top: 0; left: 0;
	
	z-index: 2;
}

.center {
	display: flex;
	flex-flow: row wrap;
	
	justify-content: center;
	align-items: center;
	
	z-index: 2;
}

.content {
	position: relative;
	top: 0; left: 0;
	margin: 1rem;
	width: 100%;
	height: 100%;
	max-width: 44rem;
	max-height: 24rem;
	
	color: white;
	background-color: #2f2f2f;
	
	box-shadow: 0px 0px 8px black;
}

#timedate {
	padding-bottom: .5rem;
	
	color: #5f5f5f;
	
	line-height: 2rem;
	font-size: 2rem;
	text-align: center;
}

#timedate span {
	transition: opacity ease-out .5s;
}

#timedate span.on {
	opacity: 1;
}

#timedate span.off {
	opacity: 0;
}

#search, #searchbox, #searchbutton {
	height: 2rem;
	
	color: white;
	
	background-color: #2f2f2f;
	
	line-height: 1rem;
	font-size: 1rem;
}

#search {
	padding: 0 .5rem;
	margin-bottom: .5rem;
	
	width: 100%;
}

#searchbox {
	cursor: text;
	
	padding: 0 .5rem;
	
	width: calc(100% - 2rem);
}

#searchbox:focus, #searchbutton:active {
	background-color: #5f5f5f;
}

#searchbutton {
	width: 2rem;
}

.icons, .icon {
	display: grid;
}

.icons {
	grid-template-columns: repeat(6, 1fr);
	grid-column-gap: 0;
}

.icon {
	width: 7rem;
	height: 7rem;
}

.iconbox {
	display: flex;
	margin: .5rem;
	width: 6rem;
	height: 6rem;
	
	justify-content: center;
	align-items: center;
	
	background-color: #3f3f3f;
	fill: #3f3f3f;
	
	transition: all ease-in-out .2s;
}

.iconbox:hover {
	margin: 0;
	width: 7rem;
	height: 7rem;
	
	background-color: #5f5f5f;
	fill: #5f5f5f;
	
	box-shadow: 0px 0px 4px #5f5f5f;
}

header {
	display: block;
	/*border-bottom: 2px solid #1f1f1f;*/
	padding: 1rem;
	
	width: 100%;
	height: 3rem;
	
	background-color: #5f5f5f;
	
	line-height: 1rem;
	font-size: 1rem;
	text-align: center;
}

header input {
	width: 1rem;
	height: 1rem;
	
	background-color: #2f2f2f;
}

#customize {
	float: left;
}

#exit {
	float: right;
}

article {
	padding: 1rem;
	width: 100%;
	height: calc(100% - 3rem);
}

em {
	color: #cfcfcf;
	
	font-style: normal;
	font-weight: lighter;
}

br {
	display: block;
	width: 100%;
	height: 1px;
}

a, a * {
	cursor: pointer;
}

.iconbox svg {
	width: 4.5rem;
	height: 4.5rem;
	
	fill: inherit;
}

.iconbox svg path {
	stroke: transparent;
	fill: white;
}

.iconbox svg circle {
	stroke: white;
	fill: inherit;
}

.iconbox svg polygon {
	stroke: transparent;
	fill: inherit;
}

#youtube.iconbox:hover {
	background-color: #ff0000;
	fill: #ff0000;
}

#twitter.iconbox:hover {
	background-color: #1da1f2;
	fill: #1da1f2;
}

#smilebasicsource.iconbox:hover {
	background-color: #009688;
	fill: #009688;
}

#github.iconbox:hover {
	background-color: #191717;
	fill: #191717;
}

@media (max-width: 44rem) {
	html {
		font-size: 50%;
	}
}
