/* Reset Styles */

* {
	margin: 0;
	border: 0;
	padding: 0;
	outline: 0;
	
	box-sizing: border-box;
	cursor: inherit;
	
	font-family: "Lato", sans-serif;
	
	z-index: 4;
}

a, a *, *:link, *:link * {
	cursor: pointer;
}

input, button {
	margin: 0;
	border: 0;
	padding: 0;
	outline: 0;
	
	border-radius: 0;
}

/* Variables */

:root {
	--fade-in: black;
	--fade-out: black;
	
	--image-blur: 4px;
	
	--animation: .2s;
	--animation-customize: var(--animation);
	--animation-customize-tabs: var(--animation);
	--animation-block-fadein: var(--animation);
	--animation-block-fadeout: var(--animation);
	--animation-time-blink: var(--animation);
	--animation-search-box: var(--animation);
	--animation-search-submit: var(--animation);
	--animation-icon: var(--animation);
	
	--select-text: white;
	--select-background: black;
	
	--button-hover: #3f3f3f;
	--button-focus: #5f5f5f;
	
	--header-text: white;
	--header-background: #5f5f5f;
	--header-thin: #cfcfcf;
	--header-button: #2f2f2f;
	--header-button-hover: var(--header-button);
	--header-button-focus: #7f7f7f;
	
	--content-text: white;
	--content-background: #2f2f2f;
	--content-time: #5f5f5f;
	--content-search: var(--content-background);
	--content-search-hover: var(--button-hover);
	--content-search-focus: var(--button-focus);
	--content-placeholder: #7f7f7f;
	--content-divider: #5f5f5f;
	--content-shadow: black;
	
	--customize-header: var(--header-background);
	--customize-background: var(--content-background);
	--customize-tab: #7f7f7f;
	--customize-tab-hover: var(--content-text);
	--customize-tab-focus: var(--button-focus);
	
	--icon-color: white;
	--icon-background: #3f3f3f;
	--icon-background-hover: #5f5f5f;
}

:root.light {
	--fade-in: white;
	--fade-out: white;
	
	--select-text: white;
	--select-background: black;
	
	--button-hover: #cfcfcf;
	--button-focus: #afafaf;
	
	--header-text: black;
	--header-background: #afafaf;
	--header-thin: #3f3f3f;
	--header-button: #dfdfdf;
	--header-button-hover: var(--header-button);
	--header-button-focus: #7f7f7f;
	
	--content-text: black;
	--content-background: #dfdfdf;
	--content-time: #afafaf;
	--content-search: var(--content-background);
	--content-search-hover: var(--button-hover);
	--content-search-focus: var(--button-focus);
	--content-placeholder: #7f7f7f;
	--content-divider: #afafaf;
	
	--icon-color: black;
	--icon-background: #cfcfcf;
	--icon-background-hover: #afafaf;
}

:root.tdark {
	--header-background: #5f5f5f7f;
	
	--content-background: #2f2f2fcf;
	--content-search: #2f2f2f00;
	
	--customize-header: #5f5f5f;
	--customize-background: #2f2f2f;
	
	--icon-background: #3f3f3f7f;
}

:root.tlight {
	--fade-in: white;
	--fade-out: white;
	
	--select-text: white;
	--select-background: black;
	
	--button-hover: #cfcfcf;
	--button-focus: #afafaf;
	
	--header-text: black;
	--header-background: #afafaf7f;
	--header-thin: #3f3f3f;
	--header-button: #dfdfdf;
	--header-button-hover: var(--header-button);
	--header-button-focus: #7f7f7f;
	
	--content-text: black;
	--content-background: #dfdfdfcf;
	--content-time: #afafaf;
	--content-search: #dfdfdf00;
	--content-search-hover: var(--button-hover);
	--content-search-focus: var(--button-focus);
	--content-placeholder: #7f7f7f;
	--content-divider: #afafaf;
	
	--customize-header: #afafaf;
	--customize-background: #dfdfdf;
	
	--icon-color: black;
	--icon-background: #cfcfcf7f;
	--icon-background-hover: #afafaf;
}

:root.red {
	--header-background: #8e2f2f;
	--header-button: #461717;
	--header-button-hover: var(--header-button);
	--header-button-focus: #bf4040;
}

:root.yellow {
	--header-background: #8e8e2f;
	--header-button: #464617;
	--header-button-hover: var(--header-button);
	--header-button-focus: #bfbf40;
}

:root.green {
	--header-background: #2f8e2f;
	--header-button: #174617;
	--header-button-hover: var(--header-button);
	--header-button-focus: #40bf40;
}

:root.cyan {
	--header-background: #2f8e8e;
	--header-button: #174646;
	--header-button-hover: var(--header-button);
	--header-button-focus: #40bfbf;
}

:root.blue {
	--header-background: #2f2f8e;
	--header-button: #171746;
	--header-button-hover: var(--header-button);
	--header-button-focus: #4040bf;
}

:root.purple {
	--header-background: #8e2f8e;
	--header-button: #461746;
	--header-button-hover: var(--header-button);
	--header-button-focus: #bf40bf;
}

:root.nothing {
	--header-background: #2f2f2f00;
	
	--content-background: #2f2f2f3f;
	--content-time: white;
	--content-search: #2f2f2f00;
	--content-search-hover: #2f2f2f1f;
	--content-search-focus: #cfcfcf1f;
	--content-placeholder: #ffffff3f;
	--content-shadow: transparent;
	
	--customize-header: #5f5f5f;
	--customize-background: #2f2f2f;
	
	--icon-background: #3f3f3f00;
	--icon-background-hover: #afafaf3f;
}

/* Weird stuff */

:root.null, :root.undefined {
	--header-background: #ff0000;
}

::-moz-selection {
	color: var(--select-text);
	background-color: var(--select-background);
}

::selection {
	color: var(--select-text);
	background-color: var(--select-background);
}

::placeholder {
	color: var(--content-placeholder);
	
	opacity: 1;
}

::-moz-focus-inner {
	border: 0;
	outline: 0;
}

a:link, a:hover, a:visited {
	color: inherit;
}

input:-moz-focusring, button:-moz-focusring {
	border: 0;
	outline: 0;
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
	
	background-color: transparent;
	
	margin: 0;
	width: 0;
	height: 0;
	
	transition: opacity var(--animation);
	opacity: 0;
}

input[type="search"]:focus::-webkit-search-cancel-button {
	margin-left: .5rem;
	border-radius: .5rem;
	width: 1rem;
	height: 1rem;
}

input[type="search"]:hover::-webkit-search-cancel-button,
input[type="search"]:focus::-webkit-search-cancel-button {
	background-color: var(--content-text);
	
	opacity: 1;
}

input[type="search"]:hover::-webkit-search-cancel-button:active,
input[type="search"]:focus::-webkit-search-cancel-button:active {
	background-color: var(--content-background);
	
	opacity: 1;
}

#customize-tabcontent::-webkit-scrollbar {
	width: 1rem;
}

#customize-tabcontent::-webkit-scrollbar-button {
	display: none;
}

#customize-tabcontent::-webkit-scrollbar-track {
	background-color: var(--content-background);
	
	margin: .5rem 0;
}

#customize-tabcontent::-webkit-scrollbar-thumb {
	background-color: var(--header-background);
}

#customize-tabcontent::-webkit-scrollbar-thumb:hover {
	background-color: var(--header-button-focus);
}

#customize-tabcontent::-webkit-scrollbar-thumb:active {
	background-color: var(--header-button);
}

/* Elements */

html, body, #window {
	width: 100%;
	height: 100%;
}

html {
	cursor: default;
	
	font-size: 16px;
	
	background-color: black;
}

header {
	display: block;
	padding: .5rem;
	
	width: 100%;
	height: 3rem;
	
	color: var(--header-text);
	background-color: var(--header-background);
	
	line-height: 2rem;
	font-size: 1rem;
	text-align: center;
}

#window-header span {
	display: inline-block;
	width: calc(100% - 4rem);
	
	vertical-align: top;
}

header button {
	width: 2rem;
	height: 2rem;
	
	transition: opacity var(--animation);
	opacity: 0;
	
	color: var(--header-text);
	background-color: var(--header-button);
}

header button:hover {
	background-color: var(--header-button-hover);
}

header button:active {
	background-color: var(--header-button-focus);
}

header:hover button, header:focus button {
	opacity: 1;
}

h1 {
	margin-top: .5rem;
	
	font-size: 1.5rem;
	font-weight: normal;
	
	color: var(--content-time);
}

h1:first-child {
	margin-top: 0;
}

article {
	padding: 1rem;
	width: 100%;
	height: calc(100% - 3rem);
}

button {
	width: 2rem;
	height: 2rem;
	
	color: var(--content-text);
	
	transition: background-color ease-out var(--animation);
	background-color: var(--content-background);
}

button svg {
	display: block;
	
	width: 2rem;
	height: 2rem;
	padding: .5rem;
}

button:hover {
	background-color: var(--button-hover);
}

button:active {
	background-color: var(--button-focus);
}

/* Customization Window */
#customize {
	position: fixed;
	display: flex;
	flex-flow: row wrap;
	top: -100%; left: 0;
	width: 100%;
	height: 100%;
	
	justify-content: center;
	align-items: center;
	
	z-index: 3;
	
	transition: top var(--animation-customize);
}

#customize.on {
	top: 0;
}

#customize button.off svg {
	fill: var(--content-placeholder);
}

#customize-header {
	background-color: var(--customize-header);
}

#customize-content {
	position: relative;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	
	max-width: 32rem;
	max-height: 32rem;
	
	color: var(--content-text);
	background-color: var(--customize-background);
	
	box-shadow: 0px 0px 8px var(--content-shadow);
}

#customize-header {
	display: block;
	text-align: left;
}

#customize span {
	display: inline-block;
	
	width: calc(100% - 2rem);
	
	text-align: left;
	
	vertical-align: top;
}

#customize-tabs {
	float: left;
	
	border-right: solid 1px var(--content-divider);
	padding: .5rem;
	width: 8rem;
	height: calc(100% - 3rem);
}

#customize-tabs ul {
	list-style-type: none;
}

#customize-tabs li {
	transition: padding var(--animation-customize-tabs), color var(--animation-customize-tabs);
	padding-left: 0;
	padding-right: .5rem;
	
	color: var(--customize-tab);
	
	line-height: 1.5rem;
	
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#customize-tabs li:hover {
	padding-left: .5rem;
	padding-right: 0;
	
	color: var(--customize-tab-hover);
}

#customize-tabs li.on {
	padding-left: .5rem;
	padding-right: 0;
	
	color: var(--customize-tab-focus);
}

#customize-tabcontent {
	float: right;
	
	padding: .5rem;
	width: 24rem;
	height: calc(100% - 3rem);
	
	overflow-y: auto;
}

#customize-tabcontent > div { display: none; }
#customize-tabcontent > div.on { display: block; }

#customize-tabcontent > #customize-about.on {
	display: flex;
	flex-flow: row wrap;
	
	height: 100%;
	
	justify-content: center;
	align-items: center;
}

canvas {
	width: 16rem;
	
	/* Decide on a name, jeez! */
	image-rendering: optimizespeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

#customize-about p, #customize-about h1 {
	display: block;
	width: 100%;
	
	text-align: center;
	
	font-weight: normal;
	line-height: 1.25;
}

#customize p {
	font-weight: lighter;
}

svg.social {
	width: 1rem;
	height: 1rem;
	
	vertical-align: sub;
}

#customize a:link {
	display: inline-block;
	
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	font-weight: bolder;
}

#customize a:visited {
	border-bottom-style: dashed;
}

#customize a:hover {
	border-bottom: 1px solid currentcolor;
}

label {
	display: inline-block;
	height: 2rem;
	
	vertical-align: top;
	line-height: 2rem;
	
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

label:after {
	content: ":\2002 ";
	white-space: pre;
}

button + label {
	padding-left: .5rem;
	width: calc(100% - 2rem);
}

button + label:after {
	content: "";
}

select, input {
	width: 100%;
	height: 2rem;
	
	color: var(--content-text);
	background-color: var(--content-background);
}

select:hover, input:hover {
	background-color: var(--button-hover);
}

select:focus, input:focus {
	background-color: var(--button-focus);
}

select option {
	background-color: var(--content-background);
}

label + select, label + input {
	width: 12rem;
}

/* Block & Its Animations */

#block {
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 0;
	
	animation: fadein var(--animation-block-fadein);
	opacity: 0;
	
	z-index: 4;
}

@keyframes fadein {
	from {
		height: 100%;
		
		opacity: 1;
	
		background-color: var(--fade-in);
	}
	
	to {
		height: 100%;
		
		opacity: 0;
		
		background-color: var(--fade-in);
	}
}

#block.fadeout {
	height: 100%;
	
	transition: opacity var(--animation-block-fadeout);
	opacity: 1;
	
	background-color: var(--fade-out);
}

/* Background */

#background {
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	
	z-index: 1;
}

#background.random1 {
	background: linear-gradient(100deg, #283c86, #45a247) no-repeat center center fixed;
	background-size: cover;
}

#background.random2 {
	background: linear-gradient(200deg, #c21500, #ffc500) no-repeat center center fixed;
	background-size: cover;
}

#background.random3 {
	background: linear-gradient(300deg, #5c258d, #4389a2) no-repeat center center fixed;
	background-size: cover;
}

#background.images {
	filter: blur(var(--image-blur));
}

#background.images.random1 {
	background: url("background1.jpeg") no-repeat center center fixed;
	background-size: cover;
}

#background.images.random2 {
	background: url("background2.jpeg") no-repeat center center fixed;
	background-size: cover;
}

#background.images.random3 {
	background: url("background3.jpeg") no-repeat center center fixed;
	background-size: cover;
}

/* Window */

#window {
	position: fixed;
	display: flex;
	top: 0; left: 0;
	
	justify-content: center;
	align-items: center;
	
	z-index: 2;
}

#window-content {
	position: relative;
	top: 0; left: 0;
	margin: 1rem;
	width: 100%;
	height: 100%;
	max-width: 44rem;
	max-height: 17rem;
	
	color: var(--content-text);
	background-color: var(--content-background);
	
	box-shadow: 0px 0px 8px var(--content-shadow);
}

/* Time Display */

#time {
	padding-bottom: .5rem;
	height: 2.5rem;
	
	color: var(--content-time);
	
	line-height: 2rem;
	font-size: 2rem;
	text-align: center;
}

#time-blink {
	transition: opacity ease-out var(--animation-time-blink);
}

#time-blink.off { opacity: 0; }
#time-blink.on { opacity: 1; }

#time-second { display: none; }
#time-second.on { display: initial; }

/* Search Box */

#search, #search-box, #search-submit {
	height: 2rem;
	
	color: var(--content-text);
	
	transition: background-color ease-out var(--animation-search);
	background-color: var(--content-search);
	
	line-height: 1rem;
	font-size: 1rem;
}

#search {
	position: relative;
	
	padding: 0 .5rem;
	margin-bottom: .5rem;
	
	width: 100%;
}

#search-box {
	cursor: text;
	
	padding: 0 .5rem;
	width: 100%;
	
	text-align: center;
}

#search-box.off.date::placeholder { color: var(--content-time); }
#search-box.off.date:focus::placeholder { opacity: 0; }

#search-box.on, #search-box:focus {
	padding: 0 2.5rem 0 .5rem;
	
	text-align: left;
}

#search-box:hover, #search-submit:hover:not(.off) {
	background-color: var(--content-search-hover);
}

#search-box:focus, #search-submit:active {
	background-color: var(--content-search-focus);
}

#search-submit {
	position: absolute;
	right: .5rem;
	
	width: 2rem;
	
	transition: opacity ease-out var(--animation-search-submit);
}

#search-submit.on { opacity: 1; }
#search-submit.off { opacity: 0; }

/* Icons */

#icons, .icon {
	display: grid;
}

#icons {
	grid-column-gap: 0;
}

.icon {
	width: 7rem;
	height: 7rem;
}

.iconbox {
	display: flex;
	margin: .5rem;
	width: 6rem;
	height: 6rem;
	
	justify-content: center;
	align-items: center;
	
	background-color: var(--icon-background);
	stroke: var(--icon-background);
	fill: var(--icon-background);
	
	transition: all ease-in-out var(--animation-icon);
}

.iconbox:hover {
	margin: 0;
	width: 7rem;
	height: 7rem;
	
	background-color: var(--icon-background-hover);
	stroke: var(--icon-background-hover);
	fill: var(--icon-background-hover);
}

.iconbox svg {
	width: 100%;
	height: 100%;
	padding: .75rem;
}

/* SVG Helper Styles */

svg, use {
	cursor: pointer;
	
	text-decoration: none;
}

.svg-ii { stroke: inherit; fill: inherit; }
.svg-tt { stroke: transparent; fill: transparent; }
.svg-if, .svg-fi { stroke: inherit; fill: var(--icon-color); }
.svg-si, .svg-is { stroke: var(--icon-color); fill: inherit; }
.svg-tf, .svg-ft { stroke: transparent; fill: var(--icon-color); }
.svg-st, .svg-ts { stroke: var(--icon-color); fill: transparent; }
.svg-sf, .svg-fs { stroke: var(--icon-color); fill: var(--icon-color); }
.svg-it { stroke: inherit; fill: transparent; }
.svg-ti { stroke: transparent; fill: inherit; }

/* Link-specific Styles (REMOVE SOON) */

#youtube.iconbox:hover { background-color: #ff0000; fill: #ff0000; }
#twitter.iconbox:hover { background-color: #1da1f2; fill: #1da1f2; }
#reddit.iconbox:hover { background-color: #ff4500; fill: #ff4500; }
#tumblr.iconbox:hover { background-color: #36465d; fill: #36465d; }
#smilebasicsource.iconbox:hover { background-color: #009688; fill: #009688; }
#github.iconbox:hover { background-color: #191717; fill: #191717; }

/* Media Styles */

@media (orientation: portrait) {
	@media (max-width: 640px), (max-height: 640px) {
		html {
			font-size: calc(100vmin / 40);
		}
	}
	
	#window-content {
		max-width: 23rem;
		max-height: 24rem;
	}
	
	#icons {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (orientation: landscape) {
	@media (max-width: 720px), (max-height: 720px) {
		html {
			font-size: calc(100vmin / 45);
		}
	}
	
	#window-content {
		max-width: 44rem;
		max-height: 17rem;
	}
	
	#icons {
		grid-template-columns: repeat(6, 1fr);
	}
}
